body {
    margin: 0;
    padding: 0;
}

.div--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 109px;
    width: 100%;
    flex-direction: column;  
}

.hidden {
    background: #f8E8f0;
    height: 36px;
    width: 1370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    font-size: 14px;
}

.flex--itens {
    background: #ffffff;
    height: 70px;
    width: 1370px;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 55px;
    width: 55px;
}

.botao--1 {
    height: 36px;
    width: 40px;
    background: #E899B8;
    border-radius: 10px;
}

.botao--2 {
    height: 36px;
    width: 40px;
    background: #f8E8f0;
    border-radius: 10px;
}

.nav {
    display: flex;
}
