body {
    margin: 0;
    padding: 0;
}

.div--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 109px;
    width: 100%;
    flex-direction: column;  
}

.hidden {
    background: #f8E8f0;
    height: 36px;
    width: 1370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    font-size: 14px;
}

.flex--itens {
    background: #ffffff;
    height: 70px;
    width: 1370px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.flex--itens--2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 8px;
    flex: 1;    
}

.logo--home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    flex: 1;
}

.logo {
    display: flex;
    height: 65px;
    width: 65px;    
}

.botao--1 {    
    height: 36px;
    width: 40px;
    background: #E899B8;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 0px 8px;
    padding: 0px 12px;
}

.img--search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.botao--2 {
    height: 36px;
    width: 40px;
    background: #ffffff;
    border-color: #E899B8;
    border-radius: 10px;
    margin: 0px 0px 0px 10px;
    padding: 0px 8px;   
}

.img--shop--car {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    font-size: 16px;
    font-family: inter;
    color: #375141;
}

.item {
 margin: 0px 0px 0px 32px; text-decoration: none;
 color: inherit;
 cursor: pointer;
}

.item--1::before {
    content: "";
}



.item:hover {
    color: #E899B8;
    transition: 0.3s;
}

.buscar {
    border-radius: 10px;
    height: 30px;
    width: 225px;
    padding: 8px 12px;
    border-color: #E899B8;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}



.nav span > ul > li > a.has-childs .hidden-childs,
.nav span > ul > li > span.has-childs .hidden-childs {
  opacity: 0;
  visibility: hidden;
  display: none;
  position: fixed;
  background-color: #ffffff;
  background-color: var(--header-background-color);
  color: #222222;
  color: var(--header-link-color);
  top: 120px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1140px;
}