body {
    margin: 0;
    padding: 0;
}

.div--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 109px;
    width: 100%;
    flex-direction: column;  
}

.hidden {
    background: #f8E8f0;
    color:#4b5563;
    height: 28px;
    width: 1368px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    font-size: 14px;
    font-family: Inter;
}

.flex--itens {
    background: #ffffff;
    height: 68px;
    width: 1370px;
    display: flex;
    flex-direction: row;
    padding: 4px 0px;
}

.flex--itens--2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 8px;
    flex: 1;    
}

.logo--home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    flex: 1;
}

.logo {
    display: flex;
    height: 60px;
    width: 60px;
    cursor: pointer;   
}

.botao--1 {    
    height: 36px;
    width: 40px;
    background: #E899B8;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 0px 0px 0px 8px;
    padding: 0px 12px;
}

.botao--2 {
    border-width: 1px;
    height: 36px;
    width: 40px;
    background: #ffffff;
    border-color: #E899B8;
    border-radius: 6px;
    margin: 0px 0px 0px 10px;
    padding: 0px 8px; 
}

.botao--1:hover {
    background: #e7a3be;
    color: #ffffff;
}

.botao--2:hover {
    background: #f8E8f0;
    color: #ffffff;
}

.img--search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.img--shop--car {
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 21px;
    width: 21px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    font-size: 16px;
    font-family: Inter;
    color: #375141;
}

.item {
 margin: 0px 0px 0px 32px; text-decoration: none;
 color: inherit;
 cursor: pointer;
}

.item--1::before {
    content: "";
}

.item:hover {
    color: #E899B8;
    transition: 0.3s;
}

.buscar {
    border-width: 1px;
    border-radius: 8px;
    height: 20px;
    width: 228px;
    padding: 8px 12px;
    border-color: #E899B8;
}

.section--1 { 
    display: flex;
    background: linear-gradient(to right, #f8E8f0,#ffffff);
    flex-direction: row;
    width: 100%;
    height: 500px;
    padding: 128px 0px;
    
    justify-content: center;
}

.principal {
    display: flex;
    height: 500px;
    margin: 0px 127px;
    padding: 0px 16px;   
}
.grid {
    display: flex;
    height: 500px;
    width: 1368px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.space {
    display: flex;   
    justify-content: center;
    width: 660px;
    height: 120px;
    flex-direction: column;
}

.text--1 {
    margin: 0;
    font-size: 60px;
    font-family: Playfair Display;
}
.text--2 {
    margin-top: -50px;
    color: #E899B8;
}

.text--3 {
    color: #4b5563;
    margin: 24px 0px 0px;
    height: 84px;
    width: 660px;
    font-size: 20px;
    font-family: inter;
}

.relative {
    display: flex;
    background: #f0c2d1;    
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 500px;
    border-radius: 15px;
}


.section--2 {
    display: flex;    
    background: #ffffff;
    flex-direction: row;
    height: 1260px;
    padding: 64px 0px;
}

.section--3 {
    display: flex;    
    background: #f8E8f0;
    flex-direction: row;
    height: 547px;
    padding: 64px 0px;
}
.footer {    
    display: flex;    
    background: #111827;
    flex-direction: row;
    height: 389px;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 132px;
    width: 198.19px;
}
.imagem {
    height: 85px;
    width: 85px;
    margin: 0px 0px 16px;
}

.texto {
    height: 56px;
    width: 198.19px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.text--imagem {
    font-family: Inter;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    color: #E899B8 
}

.botoes {
    display: flex;
    height: 44px;
    width: 660px;
    justify-content: start;
    
    font-family: Inter;
}

.botao--3 {
    height: 44px;
    width: 175px;
    background: #E899B8;
    border: none;
    border-radius: 10px;
    margin: 0px 0px 0px 8px;
    padding: 0px 10px;
    font-family: Inter;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    margin-left: -1px;    
}

.botao--4 {
    border-width: 1px;
    height: 44px;
    width: 175px;
    background: #ffffff;
    border-color: #E899B8;
    border-radius: 10px;
    margin: 0px 0px 0px 10px;
    padding: 0px 8px;
    font-family: Inter;
    font-size: 18px;
    color: #E899B8;
    cursor: pointer;
}

.botao--3:hover {
    background: #e7a3be;    
}

.botao--4:hover {
    background: #f8E8f0;
    color: #000000;
}

@media screen and (max-width: 1200px){
    /* classes gerais */
    .section--1, .grid {
        flex-direction: column;
        display: flex;
    }

    /* header */
    .nav, .flex--itens--2 {
        display: none;
    }
}